

<div class="home-div-left"> <a href="/#/shirts"><img src="./images/shirts-shop.png" alt="" /></a><a href="/#/headwear"><img src="./images/slide2test.png" alt="" /></a></div>
<div class="home-div-right">
  <h1 class="forge-text"><span class="teal-letter" style="cursor:default">W</span><span class="teal-letter" style="cursor:default">A</span><span class="teal-letter" style="cursor:default">S</span><span class="teal-letter" style="cursor:default">D</span> Apparel</h1>
  <h1 class="forge-text2">Forging Style For</h1>
  <h1 class="forge-text3">The Everyday Gamer</h1>
  <img src="./images/bloodmoonleftlogoextendedfix.png" alt=""/>
</div>
