<div class="navbar-div">
  <navbar-directive></navbar-directive>
</div>
<img class="background-image-contact" src="./images/maybe.png" alt="" />
<div class="contact-info-div">
  <h2>If you have any questions about product or would like to make a request for event sponsorship please email WASDAPPAREL@GMAIL.COM</h2>
  <h1>If you are interested in being affiliated with WASD Apparel, click <a target="_blank" href="https://docs.google.com/forms/d/1sJEW_padFcewhJR--AcorNQxVUa9xAGrIlt390pPIFE/viewform?c=0&w=1">HERE</a></h1>
</div>
