<div class="navbar-div">
  <navbar-directive></navbar-directive>
</div>
<div class="headwear-div">
  <div class="hat-div">
    <img src="./images/1_35a1550-2.png" alt="" />
    <h1>Maroon & Black WASD Keys Snapback</h1>
    <h2>$25</h2>
    <button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button" >Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/1_35A1547-2.png" alt="" />
    <h1>Navy & White WASD Keys Snapback</h1>
    <h2>$25</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button" >Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/1_35A1557-2.png" alt="" />
    <h1>Black & Latte WASD Keys Snapback</h1>
    <h2>$25</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/WASDgreen.jpg" alt="" />
    <h1>Green & Surplus  WASD Keys Snapback</h1>
    <h2>$25</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/WASDred.jpg" alt="" />
    <h1>Red & Gold WASD Keys Snapback</h1>
    <h2>$25</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/WASDpink.jpg" alt="" />
    <h1>Pink & Lime WASD Keys Snapback</h1>
    <h2>$25</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/maroonbeanie.jpg" alt="" />
    <h1>Maroon Reversible WASD Tag Beanie</h1>
    <h2>$15</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/greenbeanie.jpg" alt="" />
    <h1>Green reversible WASD Tag Beanie</h1>
    <h2>$15</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/tealbeanie.jpg" alt="" />
    <h1>Teal Reversible WASD Tag Beanie</h1>
    <h2>$15</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/blackbeanie.jpg" alt="" />
    <h1>Black Reversible WASD Tag Beanie</h1>
    <h2>$15</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
  <div class="hat-div">
    <img src="./images/thickknitmaroon.jpg" alt="" />
    <h1>Thick Knit Maroon Reversible WASD Tag Beanie</h1>
    <h2>$15</h2><button class="buynow-button" onclick="alert('Successfully added to cart!');" type="button">Add to Cart</button>
  </div>
</div>
