<section class="main-header">
  <button class="cart-button" ui-sref="cart"  >CART</button>
  <button class="contact-button" ui-sref="contact"  >CONTACT</button>
  <button class="shirts-button" ui-sref="shirts" >T-SHIRTS</button>
  <button class="headwear-button" ui-sref="headwear">HEADWEAR</button>
  <button class="home-button" ui-sref="home" ></button>
  <a href="https://www.facebook.com/wasdapparel/" target="_blank"><img class="facebook-logo" src="./images/32-facebook.png"/></a>
  <a href="https://www.instagram.com/WASD_apparel/" target="_blank"><img class="instagram-logo" src="./images/32-instagram.png"/></a>
  <a href="https://twitter.com/wasd_apparel" target="_blank"><img class="twitter-logo" src="./images/32-twitter.png"/></a>
</section>
