.view-div {
  height: 100%;
  width: 100%;
}


/*.home-text2 h2 {
  font-family: "Lato";
  letter-spacing: 1vw;
  color: white;
  float: right;
  width: 15vw;
  height: 30vh;
  text-align: center;
}*/
